/* Body inherited */

body, form
   {
      font-family: Arial, Helvetica, sans-serif;
        font-size: 10pt;
   }
h1
   {
        font-size: 16pt;
      font-weight: bold;
   }
a:link
   {
      text-decoration: none;
                color: blue;
      }
a:visited
   {
      text-decoration: none;
                color: blue;
   }
a:hover
   {
      text-decoration: underline;
                color: red;
   }

/* Table */

#banner
   {
      background-color: #D3DCE3;
   }
#banner_lower
   {
      background-color: #EEEEEE;
   }
table
   {
      font-family: Arial, Helvetica, sans-serif;
        font-size: 10pt;
   }
th
   {
           font-weight: bold;
      background-color: #D3DCE3;
   }
td
   {
      background-color: #99CC99;
   }
td.white
   {
      background-color: white;
   }

/* class = nav */
a:link.nav
   {
      font-family: Arial, Helvetica, sans-serif;
        font-size: 10pt;
            color: #000000;
   }
a:visited.nav
   {
            color: #000000;
   }
a:hover.nav
   {
            color: red;
   }
